<!-- INCLUDE overall_header.html -->

<h2>Contact Us</h2>

<div class="panel">
   <div class="inner"><span class="corners-top"><span></span></span>

   <div class="content">
      <p>
         
         If you have any complaint or suggestion, please contact us by using methods below :
         
         <ul>
            <li>Phone 	: (+62) 873-6328</li>
            <li>Fax 	: (+62) 873-6329</li>
            <li>Email	: contact@contact.us</li>
			<li>BB		: 2ABE2390</li>
         </ul>
		 
		 Thank you for your support.
      </p>
   </div>

   <span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->