<!-- INCLUDE ucp_header.html -->

<h2>PROFILE</h2>

<div class="panel">
	<div class="inner">

	<p>{L_UCP_WELCOME}</p>

<!-- IF .topicrow -->
	<h3>{L_IMPORTANT_NEWS}</h3>

	<ul class="topiclist cplist two-long-columns">
	<!-- BEGIN topicrow -->
		<li class="row<!-- IF topicrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl class="icon {topicrow.TOPIC_IMG_STYLE}">
				<dt <!-- IF topicrow.TOPIC_ICON_IMG -->style="background-image: url({T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF -->>
					<div class="list-inner">
						<!-- IF topicrow.S_UNREAD -->
							<a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> 
							<a href="{topicrow.U_NEWEST_POST}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
						<!-- ELSE -->
							<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
						<!-- ENDIF -->
						<br />
						<!-- IF .topicrow.pagination -->
						<div class="pagination">
							<ul>
							<!-- BEGIN pagination -->
								<!-- IF topicrow.pagination.S_IS_PREV -->
								<!-- ELSEIF topicrow.pagination.S_IS_CURRENT --><li class="active"><span>{topicrow.pagination.PAGE_NUMBER}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_ELLIPSIS --><li class="ellipsis"><span>{L_ELLIPSIS}</span></li>
								<!-- ELSEIF topicrow.pagination.S_IS_NEXT -->
								<!-- ELSE --><li><a href="{topicrow.pagination.PAGE_URL}">{topicrow.pagination.PAGE_NUMBER}</a></li>
								<!-- ENDIF -->
							<!-- END pagination -->
							</ul>
						</div>
						<!-- ENDIF -->
						<div class="responsive-hide">
							<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF -->
							{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL} &raquo; <a href="{topicrow.U_VIEW_TOPIC}" title="{L_GOTO_FIRST_POST}">{topicrow.FIRST_POST_TIME}</a>
						</div>
						<div class="responsive-show" style="display: none;">
							<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF -->
							{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL} &laquo; <a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{topicrow.LAST_POST_TIME}</a>
						</div>
					</div>
				</dt>
				<dd class="lastpost"><span>{L_LAST_POST} {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
					<a href="{topicrow.U_LAST_POST}" title="{L_GOTO_LAST_POST}">{LAST_POST_IMG}</a> <br />{topicrow.LAST_POST_TIME}</span>
				</dd>
			</dl>
		</li>
	<!-- END topicrow -->
	</ul>
<!-- ENDIF -->
<h2>{UCP_USERRANK} {UCP_USERNAME}</h2>
<div id="profpic">
	<img src="{UCP_PROFPIC}" width="200" height="200" />
</div>
<form action="upload_photo.php" method="post" enctype="multipart/form-data">
			<label for="file"> Change Profile Picture: </label>
			<input type="hidden" name="username" value="{UCP_USERNAME}" />
			<input type="file" name="file" id="file" ><br>
			<input type="submit" name="submit" Value="Upload" />
		</form>
	<div id="details">
	<dl class="details">
		<h3>Personal Information</h3>
		<dt>Username</dt> <dd>{UCP_USERNAME}</dd>
		<dt>Total Thanks</dt> <dd>{UCP_NUM_THANKS}</dd>
		<dt>PIN BB</dt> <dd><strong>B2296A6629</string></dd>
		<dt>Birthday</dt><dd> 2 August</dd>
		<dt>Website</dt> <dd> {UCP_USERWEB} </dd>

	</dl>
	</div>
	</div>
</div>

<!-- INCLUDE ucp_footer.html -->
